<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
</head>
<body>
<h2>User List:</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"/>
        <td th:text="${user.username}"/>
        <td>
            <a th:href="@{/admin/edit(id=${user.id})}">Edit</a>
            <a th:href="@{/admin/delete(id=${user.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<br>
<a th:href="@{/admin/new}">Add New User</a>
<br>
<a th:href="@{/logout}">Logout</a>
</body>
</html>
