<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script defer src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script defer src="/js/user-home.js"></script>
    <style>
        .nav-link.active {
            background-color: #007bff;
            color: white;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
        <a class="navbar-brand" href="/user" id="navbar-username">Navbar</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <span class="navbar-text text-white">
                    with roles: <span id="navbar-roles"></span>
                    </span>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <a class="nav-link text-white-50" th:href="@{/logout}">Logout</a>
            </form>
        </div>
    </nav>
</div>
<div class="container-fluid p-0 mt-2">
    <div class="row">
        <div class="col-md-2 bg-light">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link" th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/admin')} ? 'active bg-primary text-white w-100' : ''" th:href="@{/admin}">Admin</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/user')} ? 'active bg-primary text-white w-100' : ''" th:href="@{/user}">User</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <h1>User information-page</h1>
            <div class="mt-2">
                <h3>About user</h3>
            </div>
            <table class="table table-striped mt-3">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Roles</th>
                </tr>
                </thead>
                <tbody id="user-info">
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>